body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* background-image: url('../images/cricket-background-image.avif'); */
    background-color: #0d1635;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    font-family: sans-serif;
    background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}