.login-container {
    margin: auto;
    width: 500px;
    height: 275px;
    background-color: antiquewhite;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 15%;
}

.login-form input {
    display: inline-block;
    margin: 20px;
    width: 265px;
    height: 36px;
    font-size: 20px;
}

.login-container button {
    display: block;
    margin: auto;
    border: none;
    border-radius: 3px;
    width: 98px;
    background: rgb(6, 60, 99);
    padding: 14px;
    font-size: large;
    color: azure;
}

label {
    margin-left: 15px;
}

